header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    color: white;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center left 14px;
}